* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --verde-forte: #008000;
  --fundo: #E1FFCA;
  --amarelo-forte: #FFD700;
  --laranja: #F19C38;
  --fundo-secundario: #BBFF84;
  --branco: #FFF;
  --preto: #000000; 
  --fonte-principal: 'Quicksand', sans-serif;
  
  font-family: var(--fonte-principal);
}

body{
  background-color: var(--fundo);
  
}

#root {
  min-height: 100vh;
}

a, button, input, textarea {
  font: inherit;
  color: inherit;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3 {
  font-weight: 700;
}
